<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="img/adidas.png" alt="" style="width: 10rem; height: 5rem;">
                </div>
                
                <div class="bg-light p-4">
                    <img src="img/hummel.jpg" alt="" style="width: 10rem; height: 5rem;">
                </div>
                
                <div class="bg-light p-4">
                    <img src="img/columbia.png" alt="" style="width: 10rem; height: 5rem;">
                </div>
                
                <div class="bg-light p-4">
                    <img src="img/koctas.jpg" alt="" style="width: 10rem; height: 5rem;">
                </div>
                
                <div class="bg-light p-4">
                    <img src="img/ikea.png" alt="" style="width: 10rem; height: 5rem;">
                </div>
            </div>
        </div>
    </div>
</div>