@model ICollection<ResultBrandDto>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <div class="bg-light p-4">
                        <img src="~/@item.ImageUrl" alt="@item.Name" style="width: 10rem; height: 5rem;">
                    </div>
                }
            </div>
        </div>
    </div>
</div>