@model UpdateAboutDto
@{
    ViewBag.Title = "Abouts";
    ViewBag.v1 = "Home";
    ViewBag.v2 = "Abouts";
    ViewBag.v3 = "Update About";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <div class="bs-example">
                    <form method="post" asp-action="Update" asp-controller="Abouts" asp-area="Admin">
                        <label>ID</label>
                        <input type="text" readonly class="form-control" asp-for="Id"/>
                        <label>Description</label>
                        <input type="text" class="form-control" asp-for="Description"/>
                        <label>Address</label>
                        <input type="text" class="form-control" asp-for="Address"/>
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email"/>
                        <label>Phone</label>
                        <input type="text" class="form-control" asp-for="Phone"/>
                        <br/>
                        <button class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>