@model CreateFeatureDto
@{
    ViewBag.Title = "Features";
    ViewBag.v1 = "Home";
    ViewBag.v2 = "Features";
    ViewBag.v3 = "Create Feature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>@ViewBag.v3</h4>
                <div class="bs-example">
                    <form method="post">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Name"/>
                        <label>Icon</label>
                        <input type="text" class="form-control" asp-for="Icon"/>
                        <br/>
                        <button class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>